In [6]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib as plt

In [7]:
df = pd.read_csv("pharmacy_otc_sales_data.csv")

In [8]:
df.head()

,Date,Product,Sales Person,Boxes Shipped,Amount ($),Country
0,2022-02-06,Pain Relief Tablets,Divya Mehra,7,67.43,Australia
1,2022-02-05,Antiseptic Cream,Nikhil Batra,18,421.46,Canada
2,2022-02-19,Cough Syrup,Ritika Shah,2,48.25,UK
3,2022-03-28,Pain Relief Tablets,Nikhil Batra,5,59.89,UK
4,2022-01-17,Digestive Enzyme,Ritika Shah,8,147.73,USA

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           333 non-null    object
 1   Product        333 non-null    object
 2   Sales Person   333 non-null    object
 3   Boxes Shipped  333 non-null    int64
 4   Amount ($)     333 non-null    float64
 5   Country        333 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 15.7+ KB

In [10]:
df.columns

Index(['Date', 'Product', 'Sales Person', 'Boxes Shipped', 'Amount ($)',
       'Country'],
      dtype='object')